@charset UTF-8;
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap');
@font-face {
    font-family: 'nillandregular';
    src: url(fuentes/nilland/nilland-webfont.eot);
    src: url(nilland-webfont.eot?#iefix) format('embedded-opentype'),
         url(fuentes/nilland/nilland-webfont.woff2) format('woff2'),
         url(fuentes/nilland/nilland-webfont.woff) format('woff'),
         url(fuentes/nilland/nilland-webfont.ttf) format('truetype'),
         url(fuentes/nilland/nilland-webfont.svg#nillandregular) format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face{
    font-family: 'LucidaCalligraphyItalic';
    src: url(fuentes/lucida_calligraphy/lucida-calligraphy-italic.ttf);
    src: url(lucida-calligraphy-italic.ttf?#iefix) format('embedded-opentype'),
    url(fuentes/lucida_calligraphy/lucida-calligraphy-italic.ttf) format('truetype'),
    
}
    *{box-sizing: border-box}
    header, section, article, aside, footer, address, nav, div, h1, h2 {display: block;}
    body{margin: 0px; font-size: 62.5%;}
    body>div{min-width:320px;max-width: 1920px;margin:0px;padding:0px;}
    figure,video{margin: 0px;}
    img, video{max-width: 100%}
    .vermas{margin: 5% 0% 10% 35%; padding: 18px 7%;color: rgb(255,255,255); text-decoration: none;font-family: 'nillandregular'; font-size: 1em; color: rgb(255,255,255); background:url(imagenes/decorativas/boton.png) center center/ 90% no-repeat;}
    .vermas:hover{font-size: 1.1em;background:url(imagenes/decorativas/boton.png) center center/ 100% no-repeat;}
    .titulo{margin: 0px; padding:2%; color: rgb(106,35,136); font-family: 'nillandregular'; font-size: 2.2em;letter-spacing: 1px;text-align: center; background: url(imagenes/decorativas/separador.png) center bottom / 25% no-repeat;}
    .subtitulo {color: rgb(106,35,136); font-size: 2em; font-family: 'Hind Madurai', sans-serif; font-weight: 700;}
    p{font-family: 'Hind Madurai', sans-serif;font-weight: 400; font-size: 1.6em;}
    .container-all{position: relative; max-width: 100%; width: 100%;overflow: hidden;justify-content: center;    }
    .item-slide{display:none}
    .slidemovil{display: flex;transform: translate3d(0, 0, 0);transition: all 1s ease-in-out;animation-name: autoplay;animation-duration: 10s;animation-direction: alternate;animation-fill-mode: forwards;animation-iteration-count: infinite;}
    .item-slidemovil p:nth-child(2){font-family: 'LucidaCalligraphyItalic';  margin: 20% 5% 0% 64%;  font-size: 1.4em; color: white; text-align: center;position: absolute;}
    .item-slidemovil p:nth-child(3){margin: 29% 0% 0% 78%; padding: 3%; position: absolute; background: url(imagenes/decorativas/boton.png) center center/ 100% no-repeat;}
    .item-slidemovil p:nth-child(3) a, .item-slidemovil p:nth-child(3) a:hover, .item-slidemovil p:nth-child(3) a:link{color: rgb(255, 255, 255);font-family: 'nilland'; }
    .item-slidemovil{position: relative; display: flex;flex-direction: column; flex-shrink: 0;flex-grow: 0;max-width: 100%;}
    .item-slidemovil img{width: 200%;}
    .pagination{ position: absolute; bottom: 20px; left: 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; width: 100%;}
    .pagination-item{ display: flex;  flex-direction: column; align-items: center; width: 8px; height: 8px;border-radius: 10px; overflow: hidden; cursor: pointer; background: rgba(106,35,136,0.5); margin: 0px 5px 10px 0px;text-align: center;transition: all 300ms;}
    .pagination-item:hover{ transform: scale(1.4);background: rgb(106,35,136);}
    .pagination-item img{ display: inline-block; max-width: none; height: 100%; transform: scale(1); opacity: 0; transition: all 300ms; }
    .pagination-item:hover img{ opacity: 1;transform: scale(1);}
    input[id="1"]:checked ~ .slidemovil{animation: none;transform: translate3d(0, 0, 0);}
    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{ background: rgb(106,35,136); }
    input[id="2"]:checked ~ .slidemovil{ animation: none; transform: translate3d(calc(-100% * 1), 0, 0);}
    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{background: rgb(106,35,136); }
    input[id="3"]:checked ~ .slidemovil{animation: none;transform: translate3d(calc(-100% * 2), 0, 0);}
    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{ background: rgb(106,35,136);}
    @keyframes autoplay{ 33%{transform: translate3d(calc(-80% * 0), 0, 0); } 66%{transform: translate3d(calc(-100% * 1), 0, 0);}100%{ transform: translate3d(calc(-100% * 2), 0, 0);}}
    h3{ margin: 0px; font-family: 'Hind Madurai', sans-serif;font-size: 1.8em; text-align: center;}
    /*header {padding-bottom: 10%;height: 100%;background: url(imagenes/contenido/foto_de_jabon_xapontic_menor.png) 80% 55% / 150% no-repeat;}*/
    h1{height: 1px; margin: 3% 0% 2% 3%;  padding: 3% 0% 2% 20%; text-indent: -9999px; position: fixed;z-index: 2;background: url(imagenes/iconos/logo_xapontic.svg) left center / 100% no-repeat;}
    nav{padding: 0px 0px 60px 0px;width: 100%; height: 10%;position: fixed; z-index: 1; background:url(imagenes/decorativas/nav.png) 80% -11px/ 200% no-repeat }
    nav h2{display: none}
.sidenav {height: 100%;width: 0%;top: 0;right: 0;padding-top: 60px; position: fixed;z-index: 1;overflow-x: hidden;background-color: rgb(255,255,255);transition: 0.3s;}
.sidenav li{list-style: none;}
.sidenav a, .lip{padding: 10px 8px 8px 32px;display: block; color: rgb(106,35,136); font-family: 'Hind Madurai';font-size: 1.4em; text-decoration: none; transition: 0.3s;}
.slideshow-container {max-width: 1920px;margin: auto;position: relative;}
.mySlides{display: none;}
.Menu{margin: 3% 2% 2% 80%; position: fixed;z-index: 1; cursor: pointer;}
.X1{transform: rotate(45deg) translateY(6px) translateX(10px);}
.X2{transform: rotate(-45deg) translateY(-2px) translateX(-5px);}
.X3{opacity: 0;}
.capa1,.capa2 ,.capa3  {width: 25px;height: 1px;margin-bottom: 7px;background-color: rgba(20,1,62);border-radius: 2px;transition: all .3s;}
.capa2{  margin-left: 7px;}
.submenu1{width: 160%;  padding: 0px;  display: none;  position: relative;  border-radius: 4px;  background-color: rgb(255, 255, 255);}
.lip:hover .submenu1{display: block;}
.submenu1 li{font-size: 1.4em}
.submenu1 li:first-child{margin-top: 5%; font-size: 0.7em;      }
.submenu1 li:nth-child(2){margin-bottom: 2%;  font-size: 0.7em;}
.submenu1 li a:link, .submenu li a:visited{padding: 5px 20px; color:rgb(106,35,136)}
.submenu1 li a:hover{color: rgb(106,35,136);}
#menuprincipal{display: none;}  
/*sobre nosotras*/
.nosotrashome { width: auto; height: auto;padding: 30% 5%;background: url(imagenes/decorativas/cuadro_home_sobre_nosotras_movil.svg) 45% center / 300% no-repeat;}
.nosotrashome p:nth-child(2) { text-align: center; width: 70%; margin: 7% auto 7% auto;}
.precio{margin: 2px 0px;text-align: center; color: rgb(106,35,136); font-weight: bold; } 
/*nuestros productos*/
.productoshome h2:first-child{padding-top: 10%;}
.productoshome article:nth-child(2), .productoshome article:nth-child(3), .productoshome article:nth-child(4) {display: grid; margin-top: 16px;}
.productoshome article:nth-child(2) figure:nth-child(2), .productoshome article:nth-child(3) figure:nth-child(2), .productoshome article:nth-child(4) figure:nth-child(2) {margin: 10%; grid-row: 1;}
.productoshome p:nth-child(5){margin-top: 10%;}
.productoshome p:nth-child(6){margin: 20% 0% 20% 20%;}
.linkpedido{padding: 15% 8%; color:rgb(255,255,255); font-family: 'nillandregular'; font-size: 1.2em;text-align: center; text-decoration: none;  background:url(imagenes/decorativas/boton_realiza_un_pedido.png) center center/ 90% no-repeat;}
.linkpedido:hover{font-size: 1.4em; background:url(imagenes/decorativas/boton_realiza_un_pedido.png) center center/ 100% no-repeat;}
.linkproductos:hover img{-moz-transform: scale(1.1) translate(0px, -13px);
  -webkit-transform: scale(1.1) translate(0px, -13px);
  -o-transform: scale(1.1) translate(0px, -13px);
  -ms-transform: scale(1.1) translate(0px, -13px);
  transform: scale(1.1) translate(0px, -13px);}
/*proceso de elaboración*/
.elaboracionhome article:nth-child(2) {margin-top: 16px; padding-top: 50%;background: url(imagenes/iconos/pesar_los_materiales_vertical.svg)center 30%/ 30% no-repeat;}
.elaboracionhome article:nth-child(3) {padding-top: 50%;background: url(imagenes/iconos/cortar_vertical.svg)center 30%/ 30% no-repeat;}
.elaboracionhome article:nth-child(4) {padding-top: 50%;background: url(imagenes/iconos/disolucion_del_jugo_vertical.svg)center 30%/ 30% no-repeat;}
.elaboracionhome p:nth-child(5){margin-top: 20px;}
/*bazares*/
.bazareshome{padding: 20% 0%;}
.bazareshome article:nth-child(2) {padding: 16% 15% 19% 15%; display: grid; grid-template-columns: 40% 60%; grid-row: 10% 90%; grid-column-gap: 4%; background:url(imagenes/decorativas/bazares.png) center center/ 100% no-repeat;}
.bazareshome article:nth-child(2) h3:first-child{margin: 3% 0% 1% 0%; grid-row:1/2; grid-column: 2/3;}
.bazareshome article:nth-child(2) p:nth-child(2) {margin-top: 1%; grid-row: 2/3; grid-column: 2/3; font-size: 1.5 em;}
.bazareshome article:nth-child(2) figure:nth-child(3) {margin-top: 15%; width: 100%; height: 100%; grid-row: 1/3; grid-column: 1/2;}
.bazareshome article:nth-child(2) figure:nth-child(3) img{margin: auto 0% auto 0%}
/*novedades*/
.linknovedades, .linknovedades:link {text-decoration: none; color: rgb(20,1,62);}
.linknovedades {display: grid;}
.linknovedades:hover{text-decoration: none; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
.novedadeshome article:nth-child(2), .novedadeshome article:nth-child(3), .novedadeshome article:nth-child(4){margin-top: 16px; padding: 10% 20% 25% 20%;background: url(imagenes/decorativas/cuadro_novedades.svg)center 2%/ 80% no-repeat;}
.novedadeshome article:nth-child(2) figure,.novedadeshome article:nth-child(3) figure,.novedadeshome article:nth-child(4) figure {grid-row: 1;}
.fecha {margin:0px; text-align: center; font-size: 1.4em; }
/*somosinterna*/
.somosinterna section{padding-bottom: 40%;}
.somosinterna .quienesinterna{padding-top: 20%; padding-bottom: 30%; background: url(imagenes/decorativas/flores_mision.png) right 34% / 40% no-repeat, url(imagenes/decorativas/flores_vision.png) 0% 64% / 50% no-repeat, url(imagenes/decorativas/contenedor_somos_movil.svg) 0px 70px / 100% no-repeat,  url(imagenes/decorativas/fondo_somos.jpg) 60% 1% / 130% no-repeat;}
.somosinterna p{margin-right: 55px; margin-left: 60px; font-size: 1.6em;}
.somosinterna .titulo{padding-top: 20%; font-size: 2.2em;}
.somosinterna .subtitulo{font-size: 1.8em; text-align: left; margin-left: 60px;}
.somosinterna .somosmision, .somosvision{padding-top:15%;}
.somosinterna .somosmision h3, .somosvision h3{padding-bottom: 5%;}
.somosinterna .somosvalores h2{display:none;}
.somosinterna .somosvalores .subtitulo{padding-top:10%; padding-bottom: 5%;}
.somosinterna .somosvalores h3{margin-left: 0px; padding-top: 50%; padding-bottom: 10%; text-align: center;}
.somosinterna .somosvalores article:nth-child(7) h3{padding-bottom: 0%;}
.somosinterna .somosvalores article:nth-child(3){background: url(imagenes/iconos/icono_economia_social.svg) center 10% / 40% no-repeat;}
.somosinterna .somosvalores article:nth-child(4){background: url(imagenes/iconos/icono_derechos_mujer_indigena.svg) center 10% / 40% no-repeat;}
.somosinterna .somosvalores article:nth-child(5){background: url(imagenes/iconos/icono_cultura.svg) center 10% / 40% no-repeat;}
.somosinterna .somosvalores article:nth-child(6){background: url(imagenes/iconos/icono_autonomia.svg) center 10% / 40% no-repeat;}
.somosinterna .somosvalores article:nth-child(7){background: url(imagenes/iconos/icono_espiritualidad.svg) center 0% / 40% no-repeat;}
.somosinterna .somosequipo{padding-top:5%; background: url(imagenes/decorativas/flores_mision.png) right 44% / 40% no-repeat, url(imagenes/decorativas/flores_vision.png) 0% 87% / 50% no-repeat, url(imagenes/decorativas/contenedor_textura_movil.png) 0% -250px / 100% no-repeat;}
.somosinterna #timeline h2:first-child{height: 40px;}

#timeline {
  display: -webkit-box;
  display: grid;
}
#timeline h2{
  display:none;
}
#timeline:hover .tl-item{
  height: 350px;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100px;
  min-height: 70px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70%;
}
.tl-item:after {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 320px !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  width: 200px;
  z-index: 1;
  text-align: left;
  margin: 0 1.618em;
  top: 70px;
  opacity: 0;
}
.tl-content h1 {
  display: none;
}

.tl-content p{
  width: 100%;
  margin-left: 0px;
}

.tl-year {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.tl-item:hover .tl-year{
  top: 11%;
  left: 20%;
}


.tl-year p {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 2.2em;
  line-height: 0;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 70% center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}
.tl-item:hover .tl-bg{
  background-size: 25%;
  background-position: 30px 0px;
}
  
/*bazar interna*/
.bazarinterna {background: url(imagenes/decorativas/fondo_bazares.png) 60% 1% / 130% no-repeat; }
.bazarinterna section:first-child{padding-top: 20%; background: url(imagenes/decorativas/fondo_seccion.png) 0px 100px / 100% no-repeat;}
.bazarinterna .proximobazar{background: url(imagenes/decorativas/contenedor_bazar_proximo_movil.svg) 0% 23% / 100% no-repeat;}
.bazarinterna .bazarpasado article{padding-top: 8%; background: url(imagenes/decorativas/contenedor_bazar_tableta.svg) 0% 0% / 100% no-repeat;}
.bazarinterna article{padding-left: 20px; padding-right: 20px; padding-bottom: 50%;}
.bazarinterna .proximobazar {padding-bottom: 70%;}
.bazarinterna p{margin-top: 10%; margin-bottom: 0%; font-size: 1.4em;}
.bazarinterna .titulo{padding-top: 20%; font-size: 2.2em;}
.bazarinterna .subtitulo{font-size: 1.8em; text-align: left; padding-top: 20px; padding-bottom: 60px;}
.bazarinterna .nombrebazar{height: 32px;; margin-top: 0px; margin-bottom: 16px; padding-left: 10px; font-size: 1.6em; font-weight: 400; text-align: left; color: rgb(106,35,136); border-bottom: 1px solid lightgray;} 
.bazarinterna .bannerproxbazar {height: 85px; border-bottom: 1px solid lightgray;}
.bazarinterna .bannerbazar {height: 105px; border-bottom: 1px solid lightgray;}
.bazarinterna .bazaresinfo{display: grid; grid-template-columns: 30% 70%; height: 110px; padding-top: 3%; border-bottom: 1px solid lightgray;}
.bazarinterna .fecha{grid-column: 1/2; padding-top: 5%; font-size: 1.9em; background: url(imagenes/decorativas/fondo_fecha.svg) 0% 0% / 100% no-repeat;}
.bazarinterna .fecha span{font-size: 1.7em;}
.bazarinterna .lugar{grid-column: 2/3; font-size: 1.2em; color: rgb(106,35,136);}
.bazarinterna .bazardetalles p{margin-top: 8px;}
.bazarinterna article ul{margin-top: 0px; padding-left: 7%; font-family: 'Hind Madurai', sans-serif; font-size: 1.4em;}
.bazarinterna .entrada{margin-top: 0px; font-size: 1.7em; font-weight: 700;}
/*contacto interna*/
.contactointerna{background: url(imagenes/decorativas/fondo_contacto.png) 60% 1% / 130% no-repeat;}
.contactointerna .datoscontacto{padding-top: 15%; background: url(imagenes/decorativas/contenedor_info_contacto_movil.svg) 60% 70% / 90% no-repeat, url(imagenes/decorativas/flores_info_contacto.svg) -30px 300px / 60% no-repeat;}
.contactointerna .formulariocontacto{padding-top: 15%; background: url(imagenes/decorativas/contenedor_formulario_contacto_movil.svg) 0% 15% / 100% no-repeat;}
.contactointerna section{padding-bottom: 60px;}
.contactointerna p{padding-right: 55px; padding-left: 60px; font-size: 1.4em;}
.contactointerna .titulo{padding-top: 20%; font-size: 2.2em;}
.contactointerna .formulariocontacto h2{display: none;}
.contactointerna .datoscontacto p:nth-child(2), .contactointerna .datoscontacto p:nth-child(3){text-align: center;}
.contactointerna .datoscontacto p:nth-child(2){margin-bottom: 0px;}
.contactointerna .datoscontacto p:nth-child(3){margin-top: 0px; margin-bottom: 30px; font-size: 1.6em;}
.contactointerna .datoscontacto p:nth-child(3) span{font-size: 1.1em;}
.contactointerna .datoscontacto p:nth-child(2){margin-bottom: 0px;}
.contactointerna .datoscontacto p:nth-child(4), .contactointerna .datoscontacto p:nth-child(5), .contactointerna .datoscontacto p:nth-child(6){padding-left: 100px; margin-bottom: 25px;}
.contactointerna .datoscontacto .datostel{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 55px -75px / 9% no-repeat;}
.contactointerna .datoscontacto .datosmail{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 55px -35px / 9% no-repeat;}
.contactointerna .datoscontacto .datosdir{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 58px 11px / 9% no-repeat;}
.contactointerna .formulariocontacto #form fieldset{width: 320px; height: 260px; margin-left: 0px; padding: 0px; border: none;}
.contactointerna .formulariocontacto #form p{padding-left: 47px;}
.campo{width: 225px; padding: 6px; border: none; background-color: transparent; border: solid 1px rgb(106,35,136); border-radius: 3px; font-size: 16px;}
::placeholder{font-size: 0.8em; color: rgb(150, 150, 150);}
.contactointerna .vermas{width: 100px; font-size: 1.4em; margin-top:0px; margin-left:50%; border: none;}
/*Pedido/articulos seleccionados interna*/
.tupedido{padding: 10% 5%;}
.titulointerna{ margin: 5%; padding: 2% 2%; font-family: 'nillandregular'; font-size: 2.2em; color: rgb(106,35,136); letter-spacing: 1px; text-align: center;  background: url(imagenes/decorativas/separador.png) center bottom / 25% no-repeat;}
.contenedorart{  margin: 20px 3px 30px 2px;  padding: 5px 0px 5px 5px;  display: grid;  grid-template-columns: 10% 30% 20% 20% 18%;  grid-column-gap: 2px;  margin-top: 20px;  background-color: white;}
div.tituloTabla{  margin-bottom: 5px;  padding: 5px;  font-size: 16px;  font-family: 'Hind Madurai';  font-weight: bold;  color: rgb(106,35,136);}
.aviso{  margin: 50px auto;    width: 90%;    text-align: center;}
.aviso span{  font-weight: bold;}
.botonseguir {  padding: 7%;  font-family: 'nillandregular';  font-size: 0.8em;  letter-spacing: 1px;  text-decoration: none;  color: rgb(255,255,255); background: url(imagenes/decorativas/boton.png) center center/ 90% no-repeat;}
.seguirviendo{padding:2% ; text-align: center; opacity: 0.7;}
.realizarpedido{    text-align: center; padding:2% ;}
/*pedido login interna*/
div.camposFormulario{
  margin-bottom: 10px;
  margin-right: 2px;
  padding: 10px 0px 0px 5px;
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.campos{
    width: 340px;
    padding: 6px;
    border: none;
    background-color: transparent;
    border: solid 1px rgb(106,35,136);
    border-radius: 3px;
    font-size: 16px;
}

::placeholder{
    color: rgb(150, 150, 150);
}
.botoncampos{
  padding: 7px 30px; 
  font-family: 'Nilland';
  font-size: 1.6em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background:url(imagenes/decorativas/boton.png) center center/ 90% no-repeat; background-color: transparent; border: none;
}
.mensaje{
  font-family: 'Hind Madurai';
  font-size: 12px;
  font-weight: bold;
  color: rgb(106,35,136);
}
.sectionsesion{
  padding: 5%;
}
.iniciosesion form div:first-child{
margin-bottom: 5%;
text-align: center;
}
.registrate form div:first-child{
  margin-bottom: 5%;
  text-align: center;
  }
.sectionsesion>.titulointerna{
  grid-column: 1/3;
  grid-row: 1/2;
}
.sectionsesion article.iniciosesion{
  margin: 7% auto;
  padding: 0px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.sectionsesion article.registrate{
  margin: 7% auto;
  padding: 0px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.sectionsesion p.aviso{
  grid-column: 1/3;
  grid-row: 3/4;
}
/*novedades interna*/
.novedadesinterna{padding-top:250px; display: block;}
.novedadesinterna h2:first-child{margin-bottom: 40px; text-align:center;}
.novedadesinterna article:nth-child(2){margin-top: 10px; margin-bottom:100px; background: url(imagenes/decorativas/cuadro_novedades.svg) center 50%/ 100% no-repeat;}
.novedadesinterna article:nth-child(3){margin-top: 10px; margin-bottom:100px;}
.novedadesinterna article:nth-child(4){margin-top: 10px; margin-bottom:100px;}
.novedadesinterna article:nth-child(2) img{margin-left:90px;}
.novedadesinterna article:nth-child(3) img{margin-left:90px;}
.novedadesinterna article:nth-child(4) img{margin-left:30px;}
.novedadesinterna article p{text-align:center; margin-left:40px; margin-right:40px}
/*gracias interna*/
section.gracias{padding: 10% 5%;}
/*crear cuenta interna*/
section.crearcuenta{padding: 10% 5%;}
/*footer*/
footer {padding: 20% 5% 10% 5%;font-family: 'Hind Madurai';background: url(imagenes/decorativas/footer_movil.jpg)center 50%/ 100% no-repeat;}
footer h2{color: rgb(255,255,255); font-family: 'nillandregular'; font-size: 1.8em;}
footer h2 span:nth-child(2){font-size: 0.5em;}
.vcard{margin:10% 0%;font-size: 1.4em; color: rgb(255, 255, 255); text-align: left;}
.vcard a{color: rgb(255, 255, 255); text-decoration: none;}
.menualterno {margin:10% 0%;text-align: center;}
.menualterno li{margin-top:6%;list-style: none;}
.menualterno a{color: rgb(255, 255, 255); font-size: 1.4em; text-decoration: none;}
.menualterno a:hover{color: rgb(106,35,136);}
footer div:nth-child(3) aside:first-child h2{display:none;}
footer p:nth-child(5){margin:10% 0%;font-size: 1.2em; color: rgb(255, 255, 255); text-align: left;}
.email{padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 6% 35% / 8% no-repeat;}
.tel {padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 4% 0% / 7% no-repeat;}
.adr {padding: 2% 2% 0% 15%;background: url(imagenes/iconos/iconos_footer.png) 4.8% 120% / 8% no-repeat;}
.street-address{padding-top: 3%;}
.redes .liredes{padding: 2%; display: inline-flex; text-indent: -9999px;list-style: none;align-items: center;}
.fb {width: 40px; height: 40px;background: url(imagenes/iconos/redes_footer.png) 0% 20% / 500% no-repeat;}
.ig{width: 40px; height: 40px;background: url(imagenes/iconos/redes_footer.png) 24% 20% / 480% no-repeat;}
.am{width: 80px; height: 40px;padding: 5% 18%; background: url(imagenes/iconos/redes_footer.png) 110% 50% / 170% no-repeat;}
.fb:hover {background: url(imagenes/iconos/redes_footer.png) 0% 20% / 530% no-repeat;}
.ig:hover {background: url(imagenes/iconos/redes_footer.png) 24% 20% / 530% no-repeat;}
.am:hover {background: url(imagenes/iconos/redes_footer.png) 110% 50% / 180% no-repeat;}
div.iconos{margin-bottom: 10px;
  margin-right: 2px;
  text-align: center;
  padding-top: 10px;}
  div.iconos a, div.iconos a:active, div.iconos a:link{color: rgb(20,1,62);}
  div.iconos a:hover{color: rgb(106,35,136);}
@media screen and (min-width: 640px){
    .titulo{font-size: 2.8em;}
    .subtitulo{font-size: 2.6em;}
    p{font-size: 1.8em;}
    .vermas {margin: 5% 0% 10% 38%;}
    nav{padding: 0px 0px 150px 0px; background: url(imagenes/decorativas/nav.png) 80% -15%/ 150% no-repeat;}
    /*sobre nosotras*/
    .nosotrashome p:nth-child(2) {margin: 5% auto 5% auto;}
    .nosotrashome {background: url(imagenes/decorativas/cuadro_home_sobre_nosotras_movil.svg) 45% center / 250% no-repeat;}
    /*bazares*/
    .bazareshome article:nth-child(2) figure:nth-child(3){margin-top: 0px;}
    /*novedades*/
    .novedadeshome article:nth-child(2), .novedadeshome article:nth-child(3), .novedadeshome article:nth-child(4){background: url(imagenes/decorativas/cuadro_novedades.svg)center 2%/ 70% no-repeat;}
    footer {background: url(imagenes/decorativas/footer_movil.jpg)center 0%/ 100% no-repeat;}
    .email{padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 9% 35% / 8% no-repeat;}
    .tel {padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 4% 0% / 5% no-repeat;}
    .adr {padding: 2% 2% 0% 15%;background: url(imagenes/iconos/iconos_footer.png) 4.8% 100% / 4% no-repeat;}
    /*somosinterna*/
    .somosinterna .quienesinterna{padding-top: 20%; background: url(imagenes/decorativas/flores_mision.png) 110% 28% / 40% no-repeat, url(imagenes/decorativas/flores_vision.png) 7% 65% / 50% no-repeat, url(imagenes/decorativas/contenedor_somos_movil.svg) 0% 150px / 100% no-repeat, url(imagenes/decorativas/fondo_somos.jpg) 60% 1% / 130% no-repeat;}
    .somosinterna .titulo{padding-top: 20%; font-size: 2.8em;}
    .somosinterna p{margin-right: 55px; margin-left: 60px; font-size: 1.8em;}
    .somosinterna .subtitulo{font-size: 2.6em; text-align: left; margin-left: 60px;}
    .somosinterna .somosequipo p:nth-child(2){padding-bottom: 5%;}
    .somosinterna .somosequipo{padding-top:5%; background: url(imagenes/decorativas/flores_mision.png) 110% 30% / 40% no-repeat, url(imagenes/decorativas/flores_vision.png) 8% 77% / 50% no-repeat, url(imagenes/decorativas/contenedor_textura_movil.png) 0% / 100% no-repeat;}
    .somosinterna figure img{display: block; margin: auto;}
    #timeline:hover .tl-item{
      height: 360px;
    }
    .tl-item:hover {
      padding-bottom: 0% !important;
    }
    .tl-year{
      left: 55%;
    }
    .tl-year p {
      font-size: 2.8em;
    }
    
    .tl-bg {
      background-size: 60%;
      }
      
    .tl-item:hover .tl-year{
      top: 10%;
      left: 32%;}
      
    .tl-item:hover p{
        padding-top: 15%;
          }

    .tl-year p {
      font-size: 2.8em;}

    .tl-item:hover .tl-bg{
      background-size: 35%;
      background-position: 50px 0px; 
    }
    
    /*bazar interna*/
.bazarinterna section:first-child{background-position: 0px 200px}
.bazarinterna .proximobazar {max-width: 450px; padding-bottom: 50%; padding-left: 40px; margin-left: 80px; margin-right: 0px; background-position: 0px 15px; background-size: 105%;}
.bazarinterna .bazarpasado{max-width: 450px; margin-left: 80px;}
.bazarinterna p{margin-top: 10%; margin-bottom: 0%; font-size: 1.9em;}
.bazarinterna .titulo{padding-top: 20%; font-size: 2.8em; background: url(imagenes/decorativas/separador.png) center bottom / 15% no-repeat;}
.bazarinterna .subtitulo{font-size: 2.6em;}
.bazarinterna .nombrebazar{height: 45px;; margin-top: 0px; margin-bottom: 16px; padding-left: 10px; font-size: 2.3em;} 
.bazarinterna .bannerproxbazar {height: 115px;}
.bazarinterna .bannerbazar {height: 145px;}
.bazarinterna .bannerbazar img{display: block; margin: auto;}
.bazarinterna .bazaresinfo{height: 145px; padding-top: 1%;}
.bazarinterna .fecha{font-size: 2.0em; background-size: 70%; background-position: 50% 0%}
.bazarinterna .fecha span{font-size: 1.7em;}
.bazarinterna .lugar{font-size: 1.8em;}
.bazarinterna article ul{padding-left: 7%; font-size: 1.9em;}
.bazarinterna .entrada{font-size: 2.2em;}
/*contacto interna*/
.contactointerna .datoscontacto{background: url(imagenes/decorativas/contenedor_info_contacto_movil.svg) 5% 40% / 100% no-repeat, url(imagenes/decorativas/flores_info_contacto.svg) -60px 310px / 80% no-repeat;}
.contactointerna section{padding-bottom: 11%;}
.contactointerna p{padding-right: 5px; padding-left: 0px;font-size: 1.4em;}
.contactointerna .titulo{padding-top: 20%; font-size: 2.8em;}
.contactointerna{display: grid; grid-template-columns: 50% 50%; padding-top: 10%;}
.contactointerna .datoscontacto{grid-column: 1/2;}
.contactointerna .datoscontacto p:nth-child(3){font-size: 1.8em;}
.contactointerna .datoscontacto p:nth-child(3) span{font-size: 1.1em;}
.contactointerna .datoscontacto p:nth-child(4), .contactointerna .datoscontacto p:nth-child(5), .contactointerna .datoscontacto p:nth-child(6){padding-left: 65px; margin-bottom: 45px;}
.contactointerna .formulariocontacto #form fieldset{height: 290px;}
.contactointerna .formulariocontacto{grid-column: 2/3; padding-top: 29%; background-position: 7px 80px;}
.contactointerna .formulariocontacto p{padding-right: 5%; padding-left: 15%;}
.contactointerna .datoscontacto .datostel{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 25px -75px / 9% no-repeat;}
.contactointerna .datoscontacto .datosmail{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 25px -35px / 9% no-repeat;}
.contactointerna .datoscontacto .datosdir{padding: 0% 10%; background: url(imagenes/iconos/iconos_datos.svg) 28px 11px / 9% no-repeat;}
.campo{width: 250px;}
.contactointerna .vermas{width: 150px; font-size: 1.9em; padding-left: 20px;}
/*footer*/
.tel {padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 6% -7% / 5% no-repeat;}
.adr {padding: 2% 2% 0% 15%;background: url(imagenes/iconos/iconos_footer.png) 6% 100% / 4.5% no-repeat;}
}
@media screen and (min-width: 768px){
    /*carousel*/
    .item-slidemovil{display:none}
    .slide{display: flex;transform: translate3d(0, 0, 0);transition: all 1s ease-in-out;animation-name: autoplay;animation-duration: 10s;animation-direction: alternate;animation-fill-mode: forwards;animation-iteration-count: infinite;}
    .item-slide p:nth-child(2) {font-family: 'LucidaCalligraphyItalic';margin: 17.2% 4% 0% 59%; font-size: 2.4em;color: white;text-shadow: 1px 1px rgba(0,0,0,0.5);text-align: center;position: absolute;}
    .item-slide{position: relative; display: flex;flex-direction: column; flex-shrink: 0;flex-grow: 0;max-width: 100%;}
    .item-slide img{width: 200%;}
    input[id="1"]:checked ~ .slide{animation: none;transform: translate3d(0, 0, 0);}
    input[id="2"]:checked ~ .slide{ animation: none; transform: translate3d(calc(-100% * 1), 0, 0);}
    input[id="3"]:checked ~ .slide{animation: none;transform: translate3d(calc(-100% * 2), 0, 0);}
    header p:nth-child(4){margin-left: 25%;}
    nav{background:url(imagenes/decorativas/nav.png) 80% -30%/ 120% no-repeat}
    .nosotrashome {padding: 17% 5%;background: url(imagenes/decorativas/cuadro_home_sobre_nosotras.svg) center center/ 95% no-repeat}
    /*productos*/
    .productoshome{display: grid; grid-template-columns: repeat(3,auto); grid-template-rows: repeat 10% 40% 20% 30%}
    .productoshome h2:first-child {padding-top:0%; grid-row: 1/2; grid-column: 1/4;}
    .productoshome article:nth-child(2){margin-top: 15%; grid-row: 2/3; grid-column:1/2;}
    .productoshome article:nth-child(3){margin-top: 15%; grid-row: 2/3; grid-column:2/3;}
    .productoshome article:nth-child(4){margin-top: 15%; grid-row: 2/3; grid-column:3/4;}
    .productoshome p:nth-child(5){grid-row: 3/4; grid-column: 1/4;}
    .productoshome p:nth-child(6){grid-row: 4/5; grid-column: 1/4;}
    .productoshome article:nth-child(2) figure:nth-child(2), .productoshome article:nth-child(3) figure:nth-child(2), .productoshome article:nth-child(4) figure:nth-child(2) {margin: 0% 10% 0% 0%; grid-row: 1;}
    .productoshome {padding: 0% 10%;}
    /*proceso de elaboración*/
    .elaboracionhome{display:grid; grid-template-rows: repeat(3, auto); grid-template-columns: repeat(3,auto);}
    .elaboracionhome h2{grid-row: 1/2; grid-column: 1/4;}
    .elaboracionhome article:nth-child(2){margin-top:10%;padding: 200px 0% 0% 0%; grid-row: 2/3; grid-column: 1/2;background: url(imagenes/iconos/pesar_los_materiales.svg) 100% 40%/ 55% no-repeat;}
    .elaboracionhome article:nth-child(2) h3{padding-left: 17%;}
    .elaboracionhome article:nth-child(3){margin-top:10%;padding: 210px 0% 0% 0%; grid-row: 2/3; grid-column: 2/3; background: url(imagenes/iconos/cortar.svg) center 40%/ 65% no-repeat;}
    .elaboracionhome article:nth-child(3) h3{padding-right: 30%;}
    .elaboracionhome article:nth-child(4){margin-top:10%;padding: 200px 0% 0% 0%; grid-row: 2/3; grid-column: 3/4;background: url(imagenes/iconos/disolucion_del_jugo.svg) 10% 40%/ 55% no-repeat;}
    .elaboracionhome article:nth-child(4) h3{padding-right: 50%;}
    .elaboracionhome p:nth-child(5){margin-top: 70px; grid-row: 3/4; grid-column: 1/4;}
    .productoshome p:nth-child(6) {
      margin: 20% 0% 20% 28%;
  }
    /*bazares*/
    .bazareshome { padding: 10% 0%; }
    .bazareshome article:nth-child(2){padding: 12% 25% 15% 25%; background: url(imagenes/decorativas/bazares.png) center center/ 70% no-repeat;}
    /*novedades*/
    .novedadeshome{margin-bottom: 15%;  display:grid; grid-template-columns: repeat(3,auto); grid-template-columns: repeat(3,auto);}
    .novedadeshome article:nth-child(2), .novedadeshome article:nth-child(3), .novedadeshome article:nth-child(4){ width: 250px;margin:15% auto;display:grid;padding:10%; background: url(imagenes/decorativas/cuadro_novedades_ipad.svg)center 2%/ 100% no-repeat;}
   .novedadeshome h2{grid-row: 1/2; grid-column: 1/4;}
    .novedades article:nth-child(2) {padding: 10%; grid-row: 2/3;grid-template-rows: 35% 10% 10% 30%;grid-column: 3/4;}
    .novedadeshome article:nth-child(2) figure, .novedadeshome article:nth-child(3) figure, .novedadeshome article:nth-child(4) figure{ width: 80%; margin: auto;padding-top: 5%;}
    .novedadeshome article:nth-child(1){grid-row: 2/3; grid-column: 1/2;}
    .novedadeshome article:nth-child(3){grid-row: 2/3; grid-column: 2/3;}
    .novedadeshome article:nth-child(2){grid-row: 2/3; grid-column: 3/4;}
    /*somosinterna*/
    .somosinterna .quienesinterna{padding-top: 0%; padding-bottom: 10%; background: url(imagenes/decorativas/contenedor_somos_escritorio.svg) 0 170px / 106% no-repeat, url(imagenes/decorativas/fondo_somos.jpg) 60% 1% / 130% no-repeat;}
    .somosinterna section{padding-bottom: 20%;}
    .somosinterna section:first-child article{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 30% 70%;}
    .somosinterna .titulo{grid-column: 1/2; grid-row:1/2; padding-top: 15%; background-position: 160px 100px;}
    .somosinterna .subtitulo{margin-left: 50px;}
    .somosinterna p{margin-left: 50px;}
    .somosinterna section:first-child article:nth-child(2) p:nth-child(2){margin-top: 20px;}
    .somosinterna .somosmision, .somosvision{padding-top: 0%}
    .somosinterna section:first-child .somosmision h3:first-child {grid-column: 2/3;grid-row: 1/2;padding-top: 34px;}
    .somosinterna section:first-child article:nth-child(2) p:nth-child(2), .somosinterna section:first-child .somosvision p:nth-child(2) {grid-column: 2/3;grid-row: 2/3;}
    .somosinterna section:first-child .somosmision p:nth-child(2){grid-column: 2/3; grid-row: 2/3;}
    .somosinterna section:first-child .somosmision figure:nth-child(3){grid-column: 1/2; grid-row: 1/3;}
    .somosinterna section:first-child .somosvision h3:first-child{grid-column: 1/2; grid-row: 1/2; padding-top: 34px;}
    .somosinterna section:first-child .somosvision p:nth-child(2){grid-column: 1/2; grid-row: 2/3;}
    .somosinterna section:first-child article:nth-child(2) figure:nth-child(3){    grid-column: 1/2;grid-row: 1/3;}
    .somosinterna section:first-child .somosvision figure:nth-child(3) {grid-column: 2/3;grid-row: 1/3;}
    .quienessomos{padding-top: 20%; display: grid;grid-template-columns: 50% 50%;grid-template-rows: 30% 70%;}
    .quienessomos h2{grid-column: 1/2;grid-row: 1/2;}
    .quienessomos p{grid-column: 1/2;grid-row: 2/3; margin-top: 30px;}
    .quienessomos figure{grid-column: 2/3;grid-row: 1/3;}
    .somosinterna .somosvalores{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 5% 33% 33% 33%;}
    .somosinterna .somosvalores article:nth-child(2){grid-column:1/3; grid-row: 1/2; justify-content: center;}
    .somosinterna .somosvalores h3{padding-bottom: 0%;}
    .somosinterna .somosvalores article:nth-child(3){grid-column: 1/2; grid-row: 2/3; padding-top: 30%; background-position: 60% 55%}
    .somosinterna .somosvalores article:nth-child(4){grid-column: 2/3; grid-row: 2/3; padding-top: 30%; background-position: 55% 55%}
    .somosinterna .somosvalores article:nth-child(5){grid-column: 1/2; grid-row: 3/4; padding-top: 20%; background-position: 50% 45%}
    .somosinterna .somosvalores article:nth-child(6){grid-column: 2/3; grid-row: 3/4; padding-top: 20%; background-position: 50% 45%}
    .somosvalores article:nth-child(7) h3{padding-top:30%}
    .somosinterna .somosvalores article:nth-child(7){grid-column: 1/3; grid-row: 4/5; justify-content: center; padding-top: 0%; background-size: 20%}
    .somosinterna .somosequipo{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 20% 20% 60%; background: url(imagenes/decorativas/contenedor_textura_somos.png) 2% 0% / 100% no-repeat;}
    .somosinterna .somosequipo h2:first-child{grid-column: 1/2; grid-row: 2/3;}
    .somosinterna .somosequipo p:nth-child(2){grid-column: 1/2; grid-row: 3/4;}
    .somosinterna .somosequipo figure:nth-child(3){grid-column: 2/3; grid-row: 1/4;}
    #timeline {
      max-width: 768px;
      padding: 5%;
      display: -webkit-box;
      display: flex;
    }
    #timeline:hover .tl-item {
      width: 100px;
    }
    
    .tl-item {
      -webkit-transition: width 0.5s ease;
      transition: width 0.5s ease;
    }
    .tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
  
    .tl-item:hover {
      width: 40%;
      height: 590px;
    }
    
    .tl-content {
      -webkit-transform: translate3d(0, 0, 0) translateY(25px);
              transform: translate3d(0, 0, 0) translateY(25px);
      position: relative;
      width: 200px;
      z-index: 1;
      text-align: left;
      margin: 5px;
      top: 70px;
      opacity: 0;
    }
    .tl-content h1 {
      display: none;
    }
    
    .tl-content p{
      width: 100%;
    }
    
    .tl-year {
      position: absolute;
      top: 52%;
      left: 55%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      z-index: 1;
    }
    
    .tl-year:hover{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(20%);
      z-index: 1;
    
    }
    .tl-item:hover .tl-year{
      top: 12%;
      left: 34%;
        }
    .tl-item:hover p{
      padding-top: 10%;
    }
    .tl-year p {
      font-size: 2.2em;
    }
    
    .tl-bg {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 70% center;
      -webkit-transition: -webkit-filter 0.5s ease;
      transition: -webkit-filter 0.5s ease;
      transition: filter 0.5s ease;
      transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    }
    /*bazar interna*/
    .bazarinterna {background: url(imagenes/decorativas/fondo_bazares.png) 60% 1% / 130% no-repeat; }
    .bazarinterna section:first-child{background-position: -20px 150px; background-size: 105%}
    .bazarinterna .proximobazar{max-width: 700px; margin-right: 10px; margin-left: 10px; background: url(imagenes/decorativas/contenedor_bazar_proximo_tableta.svg) 0% 12% / 106% no-repeat;}
    .bazarinterna .bazarpasado{max-width: 750px; margin-left: 0px;}
    .bazarinterna article{padding-left: 52px; padding-right: 60px;}
    .bazarinterna .titulo{padding-top: 5%; font-size: 2.8em;}
    .bazarinterna .subtitulo{font-size: 2.6em;}
    .bazarinterna p{font-size: 1.8em;}
    .bazarinterna .nombrebazar{margin-bottom: 25px;} 
    .bazarinterna .bannerproxbazar {height: 165px;}
    .bazarinterna .bannerbazar {height: 150px;}
    .bazarinterna .bannerbazar img{margin: 0;}
    .bazarinterna .proximobazar .bazardescripcion{display: grid; grid-template-columns: 30% 70%; grid-template-rows: 50% 50%;}
    .bazarinterna .proximobazar .fecha{grid-column: 1/2; grid-row: 1/2; width: 180px; margin-top:0px; padding: 13%; font-size: 2.2em; background-size: 60%; background-position: 50% 70%;}
    .bazarinterna .proximobazar .fecha span{font-size: 1.5em;}
    .bazarinterna .proximobazar .lugar{grid-column: 1/2; grid-row: 2/3; margin-top: 0px;}
    .bazarinterna .proximobazar .bazardetalles{grid-column: 2/3; grid-row: 1/3; padding-left: 5%;}
    .bazarinterna .proximobazar .bazardetalles p:first-child{margin-top:0px;}
    .bazarinterna .proximobazar .bazardetalles li{width: 400px;}
    .bazarinterna .proximobazar .bazaresinfo{display: block; width: 195px; height: 200px; margin-top: 0%; border-right: 1px solid lightgray; border-bottom: none;}
    .bazarinterna .proximobazar{padding-bottom: 40%;}
    .bazarinterna .bazarpasado{display: grid; grid-template-columns: 50% 50%;}
    .bazarinterna .bazarpasado article:first-child{grid-column: 1/2;}
    .bazarinterna .bazarpasado article:nth-child(2){grid-column: 2/3;}
    .bazarinterna .bazarpasado .bannerbazar{height: 120px;}
    .bazarinterna .bazarpasado .bazaresinfo{height: 125px;}
    .bazarinterna .fecha{padding-top: 12%; font-size: 2.2em; background-size: 120%}
    .bazarinterna .fecha span{font-size: 1.5em;}
    .bazarinterna .lugar{padding-left: 10%; font-size: 1.8em;}
    .bazarinterna article ul{padding-left: 7%; font-size: 1.9em; width: 286px;}
    .bazarinterna .entrada{font-size: 2.2em;}
/*contacto interna*/
.contactointerna .datoscontacto{background: url(imagenes/decorativas/contenedor_info_contacto_movil.svg) 65% 40% / 90% no-repeat, url(imagenes/decorativas/flores_info_contacto.svg) -60px 310px / 80% no-repeat;}
.contactointerna .formulariocontacto{background: url(imagenes/decorativas/contenedor_formulario_contacto_tableta.svg) 0% 60% / 100% no-repeat;}
.contactointerna .datoscontacto p:nth-child(4), .contactointerna .datoscontacto p:nth-child(5), .contactointerna .datoscontacto p:nth-child(6){padding-left: 115px; padding-right: 15%; margin-bottom: 45px;}
.contactointerna .datoscontacto .datostel{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 65px -90px / 9% no-repeat;}
.contactointerna .datoscontacto .datosmail{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 65px -45px / 9% no-repeat;}
.contactointerna .datoscontacto .datosdir{padding: 0% 10%; background: url(imagenes/iconos/iconos_datos.svg) 68px 1px / 9% no-repeat;}
.campo{width: 300px;}
.contactointerna .vermas{margin-left:200px;}
    /*pedido articulos selecccinados interna*/
    .titulointerna{font-size: 2.8em;}
    div.botones{display: grid; grid-template-columns: repeat(4,auto);}
    .seguirviendo {grid-column: 3/4;text-align: right;}
  .realizarpedido {grid-column: 4/5;text-align: right;}
.aviso{width: 60%;}
/*pedido pedido login interna*/
.campos {
  width: 300px;
}
.sectionsesion{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
    /*footer*/
    footer {display:grid; grid-template-columns: 50% 50%; grid-row: auto; font-size: 1.4em;}
    footer h2{grid-column: 1/2; grid-row: 1/2;}
    footer .vcard{grid-column: 1/2; grid-row: 2/3;}
    footer .mapadenav{grid-column: 2/3; grid-row: 1/3;}
    footer .redes{grid-column: 2/3; grid-row: 3/4;}
    footer p:nth-child(5){grid-column: 1/3; grid-row: 4/5;}
    .email{padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 4% 35% / 8% no-repeat;}
    .tel {padding: 2% 15%; background: url(imagenes/iconos/iconos_footer.png) 4% 1% / 8% no-repeat;}
    .adr {padding: 2% 2% 0% 15%;background: url(imagenes/iconos/iconos_footer.png) 3% 100% / 9% no-repeat;}
}
@media screen and (min-width: 1024px){
    h1{ margin: 1.5% 0% 2% 3%;background: url(imagenes/iconos/logo_xapontic.svg) left center / 80% no-repeat;}
    .titulo{font-size: 3em;}
    .subtitulo {font-size: 2.8em;}
    p{font-size: 2em;}
    nav{padding: 0px 0px 120px 0px; background: url(imagenes/decorativas/nav.png) 80% -20px/ 110% no-repeat}
    .Menu {display: none;}
    header>p:nth-child(2){width: 40%; font-size: 2.0em} 
    #menuprincipal{margin: 2% 1% 1% 27%; padding-left: 0%; display: grid; grid-template-columns: repeat(8,auto); justify-content: stretch; font-family: 'Hind Madurai', sans-serif; font-size: 1.8em; text-align: center;}
    #menuprincipal li{padding: 5%; position: relative; font-size: 1em; color:rgb(20,1,62);list-style: none;}
    #menuprincipal ul{margin: 0px 10px 0px -40px; padding: 0px;}
    #menuprincipal li a:link, #menuprincipal li a:visited{width: 100%; height: 30px; color:rgb(20,1,62);text-decoration:none;}
    #menuprincipal li a:hover{color: rgb(106,35,136); font-weight: bold;}
    .submenu{width: 160%; top: 100%; display: none; position: absolute; border-radius: 4px; background-color: rgb(255, 255, 255);}
    #menuprincipal li:hover .submenu{display: block;}
    .submenu li{font-size: 1.4em}
    .submenu li:first-child{margin-top: 10%;}
    .submenu li:nth-child(2){margin-bottom: 5%;}
    .submenu li a:link, .submenu li a:visited{color:rgb(106,35,136)}
    .submenu li a:hover{color: rgb(106,35,136);}
    /*sobre nosotras*/
    .nosotrashome p:nth-child(2) { text-align: center; width: 60%;margin: 5% auto 5% auto; }
    .nosotrashome {background: url(imagenes/decorativas/cuadro_home_sobre_nosotras.svg) 45% center / 90% no-repeat;}
    /*novedades*/
    .novedadeshome article:nth-child(2), .novedadeshome article:nth-child(3), .novedadeshome article:nth-child(4){ width: 310px; background: url(imagenes/decorativas/cuadro_novedades_desktop.svg)center 2%/ 100% no-repeat;}
    .novedadeshome article:nth-child(2):hover, .novedadeshome article:nth-child(3):hover, .novedadeshome article:nth-child(4):hover{background: url(imagenes/decorativas/cuadro_novedades_desktop.svg)center 2%/ 104% no-repeat;}
    /*somosinterna*/
    .somosinterna .quienesinterna{background: url(imagenes/decorativas/contenedor_somos_escritorio.svg) 0 230px / 100% no-repeat, url(imagenes/decorativas/fondo_somos.jpg) 60% 1% / 130% no-repeat;}
    .somosinterna .titulo{background-position: 55% 200%;}
    .somosinterna .subtitulo{margin-left: 90px; font-size: 2.8em;}
    .somosinterna p{margin-left: 90px; font-size: 2em;}  
    .somosinterna .somosmision figure:nth-child(3){padding-left: 24px;}
    .somosinterna .somosvalores{grid-template-columns: 33% 33% 33%; grid-template-rows: 20% 40% 40%; padding-bottom: 25%;}
    .somosinterna .somosvalores article:nth-child(2){grid-column: 1/4; grid-row: 1/2; justify-content: center;}
    .somosinterna .somosvalores article:nth-child(3){grid-column: 1/2; grid-row: 2/3; background-size: 60%; background-position: 60% 20%}
    .somosinterna .somosvalores article:nth-child(4){grid-column: 2/3; grid-row: 2/3; background-size: 60%; background-position: 60% 20%}
    .somosinterna .somosvalores article:nth-child(5) h3{padding-top: 60%}
    .somosinterna .somosvalores article:nth-child(5){grid-column: 3/4; grid-row: 2/3; background-size: 60%; background-position: 60% 20%}
    .somosinterna .somosvalores article:nth-child(6) h3{padding-top: 10%}
    .somosinterna .somosvalores article:nth-child(6){grid-column: 1/3; grid-row: 3/4; justify-content: center; padding-top: 40%; background-size: 30%; background-position: 50% 80%}
    .somosinterna .somosvalores article:nth-child(7) h3{padding-top: 10%}
    .somosinterna .somosvalores article:nth-child(7){grid-column: 2/4; grid-row: 3/4; justify-content: center; padding-top: 40%; background-size: 25%; background-position: 50% 80%}
    .somosinterna .somosequipo{background-position:0% -20%}
    #timeline {
      max-width: 1024px;
      height: 400px;
    }
    .tl-item{
      height: 180px;
    }
    .tl-item:hover {
      width: 40%;
      height: 580px;
    }
    #timeline:hover .tl-item {
      width: 150px;
    }
    .tl-year {
  top: 50%;
  left: 40%;}

.tl-item:hover .tl-year{
  top: 10%;
  left: 27%;
}

.tl-year p {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 3.2em;
}
    /*bazar interna*/
    .bazarinterna {background: url(imagenes/decorativas/fondo_bazares.png) 60% 1% / 130% no-repeat; }
    .bazarinterna section:first-child{padding-top: 20%; background: url(imagenes/decorativas/fondo_seccion.png) 0px 200px / 100% no-repeat;}
    .bazarinterna .proximobazar{max-width: 1000px; margin-left: 3px; background: url(imagenes/decorativas/contenedor_bazar_proximo.svg) 50% 25% / 90% no-repeat;}
    .bazarinterna .bazarpasado{max-width: 1000px; margin-left: 0px;}
    .bazarinterna .titulo{padding-top: 5%; font-size: 3em; background: url(imagenes/decorativas/separador.png) center bottom / 10% no-repeat;}
    .bazarinterna .subtitulo{font-size: 2.8em;}
    .bazarinterna p{font-size: 2em;}
    .bazarinterna .proximobazar .bazardetalles p:first-child{padding-top:5%;}
    .bazarinterna .proximobazar{padding-left: 184px; padding-right: 186px; padding-bottom: 20%;}
    .bazarinterna .bazarpasado .bannerbazar{height: 150px;}
    .bazarinterna .bazarpasado .bazardescripcion{display: grid; grid-template-columns: 40% 60%; grid-template-rows: 50% 50%;}
    .bazarinterna .bazarpasado .bazaresinfo{display: block; width: 140px; height: 200px; margin-top: 5%; padding-top: 0%; border-right: 1px solid lightgray; border-bottom: none;}
    .bazarinterna .bazarpasado .fecha{grid-column: 1/2; grid-row: 1/2; margin-top: 0px; width: 140px; padding-bottom: 4%; background-size: 80%; background-position:center 0%;}
    .bazarinterna .bazarpasado .lugar{grid-column: 1/2; grid-row: 2/3; font-size: 1.5em;}
    .bazarinterna .bazarpasado .bazardetalles{grid-column: 2/3; grid-row: 1/3; width: 250px; margin-right: 0px; font-size: 0.8em;}
    .bazarinterna .bazarpasado article:first-child{grid-column: 1/2; padding-top: 5%; background: url(imagenes/decorativas/contenedor_bazar.svg) 0% 0% / 100% no-repeat;}
    .bazarinterna .bazarpasado article:nth-child(2){grid-column: 2/3; padding-top: 5%; background: url(imagenes/decorativas/contenedor_bazar.svg) 0% 0% / 100% no-repeat;}
    .bazarinterna article ul{padding-left: 7%; font-size: 1.9em;}
    .bazarinterna .proximobazar .bazardescripcion{display: grid; grid-template-columns: 30% 70%; grid-template-rows: 50% 50%;}
    /*contacto interna*/
    .contactointerna .datoscontacto{background: url(imagenes/decorativas/contenedor_info_contacto_movil.svg) 55% 50% / 80% no-repeat, url(imagenes/decorativas/flores_info_contacto.svg) -50px 360px / 70% no-repeat;}
    .contactointerna .formulariocontacto{background: url(imagenes/decorativas/contenedor_formulario_contacto.svg) -10px 120px / 100% no-repeat;}
    .contactointerna section{padding-bottom: 11%;}
    .contactointerna p{padding-right: 80px; padding-left: 60px; font-size: 2.0em;}
    .contactointerna .titulo{padding-top: 20%; font-size: 3.0em;}
    .contactointerna .datoscontacto p:nth-child(4), .contactointerna .datoscontacto p:nth-child(5), .contactointerna .datoscontacto p:nth-child(6){padding-left: 150px;}
    .contactointerna .formulariocontacto #form fieldset{height: 290px;}
    .contactointerna .datoscontacto .datostel{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 100px -120px / 9% no-repeat;}
    .contactointerna .datoscontacto .datosmail{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 100px -60px / 9% no-repeat;}
    .contactointerna .datoscontacto .datosdir{padding: 0% 10%; background: url(imagenes/iconos/iconos_datos.svg) 108px 1px / 9% no-repeat;}.campo{width: 390px;}
    .contactointerna .vermas{margin-left:290px;}
    ::placeholder{font-size: 1.1em;}
    /*pedidp articulos interna*/
    .titulointerna{font-size: 3em;}
    /*pedido login interna*/
    .campos {width: 340px;}
    /*footer*/
    footer {display: grid;grid-template-columns: 30% 70%;grid-row: auto; padding: 12% 3% 0% 4%;background: url(imagenes/decorativas/footer.png)center top/ 180% no-repeat;}
    footer .vcard{grid-row: 2/4;}
    footer .mapadenav{grid-row: 1/2;}
    footer .redes{grid-row: 2/3;}
    footer p:nth-child(5){grid-column: 2/3; grid-row: 3/4;text-align: end;}
    .menualterno { margin: 2% 0%; padding-left: 0%; display: flex; justify-content: flex-end}
    .menualterno li{padding-left: 1%;}
    .menualterno a {font-size: 1.2em;}
    .tel {padding: 2% 18%; background: url(imagenes/iconos/iconos_footer.png) 4% 0% / 10% no-repeat; }
    .email {padding: 2% 18%; background: url(imagenes/iconos/iconos_footer.png) 3% 35% / 9% no-repeat;}
    .adr {background: url(imagenes/iconos/iconos_footer.png) 4% 120% / 11% no-repeat;}
    .street-address {padding-top: 5%;}
    .redes ul{display: flex;
      justify-content: flex-end}
    .redes li {padding-left: 4%;}
}
@media screen and (min-width: 1280px){
    .item-slide p:nth-child(2) { font-family: 'LucidaCalligraphyItalic'; margin: 19% 6% 0% 59%; font-size: 2.4em; color: white; text-shadow: 1px 1px rgba(0,0,0,0.5); text-align: center; position: absolute;}
    nav{padding: 0px 0px 150px 0px;background: url(imagenes/decorativas/nav.png) center -30px/ 110% no-repeat; }
    .elaboracionhome article:nth-child(2){padding: 240px 0% 0% 0%;}
    .elaboracionhome article:nth-child(3){padding: 250px 0% 0% 0%;}
    .elaboracionhome article:nth-child(4){padding: 240px 0% 0% 0%;}
    .productoshome p:nth-child(6) {margin: 20% 0% 20% 31%;}
  /*novedades interna*/
.novedadesinterna{padding:250px; display: grid; grid-template-columns: 33% 33% 33%; grid-template-rows: 10% 90%;}
.novedadesinterna h2:first-child{margin-top: 0px; grid-row:1/2; grid-column: 2/3;}
.novedadesinterna article:nth-child(2){margin-top: 10px; grid-row:2/3; grid-column: 1/2;}
.novedadesinterna article:nth-child(3){margin-top: 10px; grid-row:2/3; grid-column: 2/3;}
.novedadesinterna article:nth-child(4){margin-top: 10px; grid-row:2/3; grid-column: 3/4;}
/*somos interna*/
.somosinterna .quienesinterna{background: url(imagenes/decorativas/contenedor_somos_escritorio.svg) 135px 220px / 80% no-repeat, url(imagenes/decorativas/fondo_somos.jpg) 60% 1% / 130% no-repeat;}
.somosinterna .quienesinterna{padding-left: 10%; padding-right: 10%;}
.somosinterna .somosequipo{background-size: 90%; background-position: 73% -15%;}
.somosinterna .somosequipo .subtitulo{margin-left: 180px;}
.somosinterna .somosequipo p{margin-top: 50px; margin-left: 180px;}
#timeline{max-width: 1280px;}
#timeline:hover .tl-item {width: 210px;}
.tl-item:hover .tl-year{
  top: 12%;
  left: 28%;
}
.tl-year {
  top: 50%;
  left: 43%;}
  
.tl-year p {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 4.0em;
}
/*bazar interna*/
.bazarinterna .proximobazar{max-width: 1200px; margin-left: auto; margin-right: auto; background-size: 80%; background-position: 48% 0%;}
.bazarinterna .bazarpasado{max-width: 1200px; margin-left: auto; margin-right: auto;}
.bazarinterna .proximobazar .bannerproxbazar img{display: block; margin: auto;}
.bazareshome .proximobazar .bazardetalles p:first-child{padding-top:25%;}
.bazarinterna .proximobazar .fecha{padding-top:25%; padding-left: 15%; font-size:2.9em; background-size: 80%; background-position: 20px 45px;}
.bazarinterna .proximobazar .bazaresinfo{width:250px; padding-left: 15%;}
.bazarinterna .bazarpasado article:first-child{padding-top:5%; background-size:95%;}
.bazarinterna .bazarpasado article:nth-child(2){padding-top:5%; background-size:95%;}
.bazarinterna .bazarpasado .bannerbazar img{display: block; margin: auto;}
 /*contacto*/
    .contactointerna .datoscontacto{padding-top: 140px; background: url(imagenes/decorativas/contenedor_info_contacto_movil.svg) 55% 50% / 80% no-repeat, url(imagenes/decorativas/flores_info_contacto.svg) -40px 500px / 60% no-repeat;}
    .contactointerna .formulariocontacto{padding-top: 195px; padding-right: 10%; background: url(imagenes/decorativas/contenedor_formulario_contacto.svg) -10px 160px / 100% no-repeat;}
    .contactointerna p{font-size: 2.6em;}
    .contactointerna .datoscontacto p:nth-child(3){font-size: 2.4em;}
    .contactointerna .datoscontacto p:nth-child(3) span{font-size: 1.1em;}
    .contactointerna section{padding-bottom: 30%;}
    .contactointerna .datoscontacto p:nth-child(4), .contactointerna .datoscontacto p:nth-child(5), .contactointerna .datoscontacto p:nth-child(6){padding-left: 220px; font-size: 2.5em;}
    .campo{width: 500px;}
    .contactointerna .formulariocontacto #form fieldset{height: 340px;}
    .contactointerna .datoscontacto .datostel{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 130px -150px / 9% no-repeat;}
    .contactointerna .datoscontacto .datosmail{padding: 2% 15%; background: url(imagenes/iconos/iconos_datos.svg) 135px -80px / 9% no-repeat;}
    .contactointerna .datoscontacto .datosdir{padding: 0% 10%; background: url(imagenes/iconos/iconos_datos.svg) 138px 1px / 9% no-repeat;}
    .contactointerna .vermas{margin-left:400px;}
/*footer*/
    footer {background: url(imagenes/decorativas/footer.png)center top/ 160% no-repeat;}
    .tel {padding: 2% 18%; background: url(imagenes/iconos/iconos_footer.png) 4% 0% / 9% no-repeat; }
    .adr {background: url(imagenes/iconos/iconos_footer.png) 3% 110% / 9% no-repeat;}
    .menualterno { margin: 2% 0%; padding-left: 20%; display: flex;}
    footer p:nth-child(5){padding-left: 20%;}
}